%h3 Payments

%h4 Add new Payment
=form_tag company_reminders_path(@company.id), :method => :post do
  Party Name:
  =text_field_tag "party"
  %br
  %br
  Party Number:
  =text_field_tag "party_number"
  %br
  %br
  Broker:
  =text_field_tag "broker"
  %br
  %br
  Broker Number:
  =text_field_tag "broker_number"
  %br
  %br
  Bill Date:
  =text_field_tag "bill_date"
  %br
  %br
  Bill No:
  =text_field_tag "bill_no"
  %br
  %br
  Amount:
  =text_field_tag "amount"
  %br
  %br
  Due Date:
  =text_field_tag "due_date"
  %br
  %br
  Repeat:
  =text_field_tag "repeat"
  %br
  %br
  =submit_tag "Add Payment"

%br
= render partial: 'reminders/reminders_table', locals: { reminders: @company.reminders }
