%h3= @company.name
%p= link_to "Payments", company_reminders_path(@company.id)

%br
%h4 Add User to Company
=form_tag company_add_user_path(@company.id), :method => :post do
  =text_field_tag "email"
  =submit_tag "Add Email"